{% extends 'base_listar.html' %}
{% load humanize %}
{% block title %}Lista de Dispersión{% endblock %}

{% block title_filters %}
<div class="card-top">
  <h1>Dispersiones {{ mes_nombre }}</h1>
  <div class="pendiente-box">
    <h2>Total</h2>
    <p class="monto">${{ total_montos|floatformat:2|intcomma }}</p>
  </div>

  <div class="actions">
    <form method="get" action="{% url 'dispersiones_listar' %}" class="filtro">
      <a href="{% url 'dispersiones_agregar' %}?mes={{ mes }}&anio={{ anio }}" class="btn"
        style="border-radius: 12px 0 0 12px;">Agregar Nueva Dispersión</a>

      <select name="cliente">
        <option value="">-- Todos los clientes --</option>
        {% for c in clientes %}
        <option value="{{ c.id }}" {% if cliente|stringformat:"s" == c.id|stringformat:"s" %}selected{% endif %}>
          {{ c.nombre }}
        </option>
        {% endfor %}
      </select>

      <select name="mes" required>
        <option value="1" {% if mes == "1" %}selected{% endif %}>Enero</option>
        <option value="2" {% if mes == "2" %}selected{% endif %}>Febrero</option>
        <option value="3" {% if mes == "3" %}selected{% endif %}>Marzo</option>
        <option value="4" {% if mes == "4" %}selected{% endif %}>Abril</option>
        <option value="5" {% if mes == "5" %}selected{% endif %}>Mayo</option>
        <option value="6" {% if mes == "6" %}selected{% endif %}>Junio</option>
        <option value="7" {% if mes == "7" %}selected{% endif %}>Julio</option>
        <option value="8" {% if mes == "8" %}selected{% endif %}>Agosto</option>
        <option value="9" {% if mes == "9" %}selected{% endif %}>Septiembre</option>
        <option value="10" {% if mes == "10" %}selected{% endif %}>Octubre</option>
        <option value="11" {% if mes == "11" %}selected{% endif %}>Noviembre</option>
        <option value="12" {% if mes == "12" %}selected{% endif %}>Diciembre</option>
      </select>

      <select class="filtros" name="anio">
        <option value="">-- Año --</option>
        {% for year in anios %}
        <option value="{{ year }}" {% if anio == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
      </select>

      <button type="submit" class="btn" style="border-radius: 0 12px 12px 0">Filtrar</button>
    </form>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <div class="table-container">
    <table>
      <tr>
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Factura</th>
        <th>Num.</th>
        <th>Monto</th>
        <th>Comisión</th>
        <th>Num. H</th>
        <th>Honorarios</th>
        <th>Estatus</th>
        <th>Comentarios</th>
        <th>Periodo</th>
        <th>Acciones</th>
        <th>Pago</th>
      </tr>

      {% for disp in dispersiones %}
      <tr>
        <td>{{ disp.fecha|date:"d/m/Y" }}</td>
        <td>{{ disp.cliente.nombre }}</td>
        <td>{{ disp.factura }}</td>
        <td>{{ disp.num_factura|default_if_none:"" }}</td>
        <td>${{ disp.monto|floatformat:2|intcomma }}</td>
        <td>${{ disp.comision|floatformat:2|intcomma }}</td>
        <td>{{ disp.num_factura_honorarios|default_if_none:"" }}</td>
        <td>${{ disp.total_honorarios|floatformat:2|intcomma }}</td>
        <td>{{ disp.estatus }}</td>
        <td>{{ disp.comentarios }}</td>
        <td>{{ disp.estatus_periodo }}</td>

        <td><a href="{% url 'dispersiones_editar' disp.id %}" class="editar">Editar</a></td>

        <td>
          <form method="post" action="{% url 'actualizar_estatus_dispersion' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ disp.id }}">
            <select class="filtro_pagado" name="estatus_pago" onchange="this.form.submit()">
              <option value="Pendiente" {% if disp.estatus_pago == "Pendiente" %}selected{% endif %}>Pendiente</option>
              <option value="Pagado" {% if disp.estatus_pago == "Pagado" %}selected{% endif %}>Pagado</option>
            </select>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="13" style="text-align:center;">No hay dispersión registrada.</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
