{% extends 'base_listar.html' %}
{% load humanize %}
{% block title %}Lista de Comisiones{% endblock %}

{% block title_filters %}
  <div class="card-top">
    <h1>Comisiones {{ mes_nombre }}</h1>
    <div class="pendiente-box">
      <div >
        <h2>Total Comisiones</h2>
        <strong class="monto">${{ total_comisiones|floatformat:2|intcomma }}</strong>
      </div>

      <div>
        <h2>Total Liberado</h2>
        <strong class="monto">${{ total_liberado|floatformat:2|intcomma }}</strong>
      </div>
    </div>

    <div class="actions">
      <form method="get" class="filtro">
        <select name="comisionista" style="border-radius: 12px 0 0 12px;">
          <option value="">-- Todos los comisionistas --</option>
          {% for comp in comisionistas_todos %}
            <option value="{{ comp.comisionista }}" {% if comp.comisionista == request.GET.comisionista %}selected{% endif %}>
              {{ comp.comisionista }}
            </option>
          {% endfor %}
        </select>

        <select name="mes" required>
          <option value="1" {% if mes == "1" %}selected{% endif %}>Enero</option>
          <option value="2" {% if mes == "2" %}selected{% endif %}>Febrero</option>
          <option value="3" {% if mes == "3" %}selected{% endif %}>Marzo</option>
          <option value="4" {% if mes == "4" %}selected{% endif %}>Abril</option>
          <option value="5" {% if mes == "5" %}selected{% endif %}>Mayo</option>
          <option value="6" {% if mes == "6" %}selected{% endif %}>Junio</option>
          <option value="7" {% if mes == "7" %}selected{% endif %}>Julio</option>
          <option value="8" {% if mes == "8" %}selected{% endif %}>Agosto</option>
          <option value="9" {% if mes == "9" %}selected{% endif %}>Septiembre</option>
          <option value="10" {% if mes == "10" %}selected{% endif %}>Octubre</option>
          <option value="11" {% if mes == "11" %}selected{% endif %}>Noviembre</option>
          <option value="12" {% if mes == "12" %}selected{% endif %}>Diciembre</option>
        </select>

        <select name="anio" required>
          {% for year in anios %}
            <option value="{{ year }}" {% if anio == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
          {% endfor %}
        </select>

        <button type="submit" class="btn" style="border-radius: 0 12px 12px 0;">Filtrar</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="table-container">
      <table>
        <tr>
          <th>Comisionista</th>
          <th>Total Comisiones</th>
          <th>Acciones</th>
        </tr>
        {% for c in comisionistas %}
        <tr>
          <td>{{ c.comisionista }}</td>
          <td>${{ c.total|floatformat:2|intcomma }}</td>
          <td>
            <a href="{% url 'comisiones_detalle' c.comisionista %}?volver={{ request.get_full_path|urlencode }}" class="editar">Detalle</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3" style="text-align:center;">No hay comisiones registradas.</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
